.cart-main-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    box-sizing: border-box;

    .cart-all-items{
        margin-right: 50px;
        @media (max-width:750px) {
            margin-left: 10px;
            margin-right: 0px;
            // padding: 5px;
        }
        .Checkout-cont{
            @media (max-width:750px) {
                display: none!important;
                // padding: 5px;

            }
        }
        .cart-item{
            border: black solid 1px;
            margin: 5px;
            display: flex;
            gap:4px;
            @media (max-width:750px) {
                max-width: 350px;
                // padding: 5px;
            }
            .cart-item-img{
                height: 200px;
                width: 200px;
            }
            .btnCart{
                background-color: black;
                padding-left: 15px;
                padding-right: 15px;
                padding: 5px;
                height: 30px;
                color: aliceblue;
                cursor: pointer;
               
            }
            

        }
    }
}
.empty-cart{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    margin-top: 100px;
    // align-items: center;
    @media (max-width:750px) {
        justify-content: center;
        padding: 50px;
        margin-left: 30px;
    }
    .p-bag-empty{
        translate: upperCase;
    }
  
}
.cart-item-summery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    p{
        margin: 5px;
        padding: 0px;
    }
    span{margin: 1px;
        padding: 0px;
    }
  
}

.Checkout-cont{
    display: flex;
    align-items: center;
    background-color: black;
    padding-left:30px ;
    padding-right:30px ;
    width: 400px;
    height: 40px;
    color: aliceblue;
    cursor: pointer;

}


@media (max-width: 768px) {
    .cart-main-cont{
        font-size: x-small;
    }
}

.order-summary{
    padding: 20px;
    @media (max-width:750px) {
        width: 400px;
        // display: flex;
        // justify-content:center ;
    }
    .Checkout-cont{
        @media (max-width:750px) {
            // display: none!important;
            width: 200px;
            // padding: 5px;
            }
    }
}